    .header-controls {
    display: flex;
    justify-content:space-between ;/* Stack items vertically */
    align-items:center;
    padding: 20px 40px; /* Increase padding for more space */
    background: linear-gradient(to right, #ffffff, #f0f4f8); /* Subtle gradient background */
    box-shadow: 0 4px 10px rgba(217, 29, 29, 0.1); /* Soft shadow for depth */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
    font-size: 1.2em; /* Increase font size */
    height: auto; /* Adjust height to fit content */
  }
  
  .header-controls p {
    margin: 0 0 10px 0; /* Add margin below the paragraph */
    font-size: 1.3em;
    color: #555;
  }
  
  .button-group {
    display: flex;
    gap: 10px; /* Add space between buttons */
    
  }
  
  .button-group button {
    width: 30px; /* Adjust width */
    height: 30px; /* Adjust height */
    border-radius: 40px;
    color: #555;
    font-size: 1.3em; /* Adjust font size */
    font-weight: 600;
    cursor: pointer;
    background: #f0f4f8;
    font-family: 'Signika Negative', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
  }
  
  .button-group button:hover {
    background: linear-gradient(to right, #e8f0fe, #d0e6fc); /* Gradient hover effect */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow on hover */
    transform: translateX(5px); /* Change background color on hover */
  }
  
 .header-left {
  display: flex;
  align-items: center;
}
  
  .logo {
    border-radius: 20px;
    height: 100px; /* Keep the original size */
    margin-right: 10px; /* Original margin */
    transition: transform 0.3s ease;
    
  }
  
    .header-center {
        display: flex;
        flex-direction: column;
        align-items: center;
      } /* Keep the original max-width */
  
 